.text-box>h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

div+div>p {
    color: red
}

div+h3+p {
    color: green;
}

.yellow{
    color: yellow;
}
.list1>li:hover{
    color: lightgreen;
    background-color: tomato;

}
.list-1>li:nth-child(even){
    color: aqua;
}
.list-1>li:last-child{
    color: forestgreeng;
}
.list-2>li:nth-child(odd){
    font-size: 20px;
    color: yellow;
}
.list-3>li:nth-child(3){
    color: red;
}
.list-4>li:nth-child(n+4){
    background-color: deeppink;
}
.list-4>li>:first-child{
    background-color: khaki;
}
.list-4>li:nth-child(3):hover{
    color: coral;
    font-size: 30px;
}
.list-5>li:nth-child(-n+4){
    color: crimson;
}